* {
    border: 0;
    padding: 0;
    /* border: 1px solid white; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1440px;
    margin: auto;
}

/************** Header ***************/

.header__main {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 210px;
}

.header__main-text {
    font-size: 24px;
    color: #F9FAF8;
}

.header__menu {
    display: flex;
}
.header__menu-list {
    display: flex;
    list-style-type: none;
}
.header__menu-list-item {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

/********************* Article **********************/

.article__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 210px;
    background-color: #1F2937;
}
.article__main__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 140px 0;
}
.text__one {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    
}
.text__two {
    font-size: 18px;
    color: #E5E7EB;
}
.button {
    background-color: #3882F6;
    width: 133px;
    height: 45px;
    color: #E5E7EB;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.image {
    width: 520px;
    height: 240px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: gray;
}
.container_main {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 500px; */
}

/***************** Header Second *********************/

.header__second {
    margin-bottom: 120px;
}

.header__second-container {
    display: flex;
    justify-content: space-around;
    padding: 0 210px;
}

.article__second-container {
    display: flex;
    justify-content: space-between;
    padding: 0 210px;
    margin: 0 110px;
    flex-wrap: wrap;
}

.article__second-container-image {
    width: 170px;
    height: 170px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.header__second-text {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    font-weight: 600;
}

.article__second-text {
    width: 170px;
    text-align: center;
    color: #1F2937;
    font-weight: 500;
}

.article__second-image {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: none;
}

/***************** Main Text *******************/

.text__main-container {
    background-color: #E5E7EB;
    padding: 0 210px;
    display: flex;
    flex-direction: column;
    

}
.text__main-one {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin-top: 138px;
}
.text__main-two {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 104px;
}

/************* Footer *************/
.footer {
    background-color: white;
    padding: 100px 210px;
}
.footer__main {
    width: 1024px;
    height: 150px;
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 7px;

}
.footer__main-container-two {
    width: 130px;
    height: 38px;
    border: 2px solid #E5E7EB;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__main-container-one {
    display: flex;
    flex-direction: column;
}

.span__1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.footer__main-container-two {
    font-weight: 600;
}

/***************** Bottom *******************/

.bottom{
    padding: 0 210px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}